<nav class="light-blue lighten-1" role="navigation" ng-controller="HeaderController as header">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#/" class="brand-logo">New Home.</a>
        <ul class="right hide-on-med-and-down">
            <li ng-class="{active: header.isRoute('home')}"><a href="#/">Inicio</a></li>
            <li ng-class="{active: header.isRoute('dogs')}"><a href="#/perros">Perros</a></li>
            <li ng-class="{active: header.isRoute('cats')}"><a href="#/gatos">Gatos</a></li>
            <li ng-class="{active: header.isRoute('contact')}"><a href="#/contactar">Contactar</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li ng-class="{active: header.isRoute('home')}"><a href="#/">Inicio</a></li>
            <li ng-class="{active: header.isRoute('dogs')}"><a href="#/perros">Perros</a></li>
            <li ng-class="{active: header.isRoute('cats')}"><a href="#/gatos">Gatos</a></li>
            <li ng-class="{active: header.isRoute('contact')}"><a href="#/contactar">Contactar</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
